<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class='main-content'>
        {{>header}} 
        <p>This site was created by Jonathan Shek. It uses data from Mapbox and the darksky API.</p>
        <img class="portrait" src="/img/tae.jpg"> 
    </div>
    
   
    {{>footer}}
</body>

</html>